[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = este es un script en nodejs para aprender a multiplicar
[access "refs/*"]
	owner = group user/DianaLoera
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/DianaLoera
	label-Verified = -1..+1 group user/DianaLoera
	push = group user/DianaLoera
	read = group user/DianaLoera
	rebase = group user/DianaLoera
	removeReviewer = group user/DianaLoera
	submit = group user/DianaLoera
[access "refs/heads/*"]
	create = group user/DianaLoera
	push = +force group user/DianaLoera
	pushMerge = group user/DianaLoera
	read = group user/DianaLoera
[access "refs/tags/*"]
	push = group user/DianaLoera
	push = +force group user/DianaLoera
